import styles from './{{componentName}}.module.scss';

import { {{componentName}}Component } from './types';

export const {{componentName}}: {{componentName}}Component = (props) => {
  return <section className={styles.root}></section>;
};

export default {{componentName}};